= content_for :client, @client

%table.table
  %tr
    %th Numer
    %th Saldo
    %th
    %th

  = render @accounts

%br

= link_to 'New Account', client_accounts_path(@client), class: 'btn', :method =>:post



